.Button {
  display: inline-block;
  border: none;
  border-radius: 0.7rem;
  background-color: rgb(58, 131, 165);
  color: rgb(255, 255, 255);
  padding: 0.2em 1em;
  font-size: 1rem;
  white-space: nowrap;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0em 0.1em 0.5em -0.2em rgb(98, 122, 141);
}

.Button:focus,
.Button:active,
.Button:hover {
  filter: brightness(120%);
}
